Code,Description
"1","Monday"
"2","Tuesday"
"3","Wednesday"
"4","Thursday"
"5","Friday"
"6","Saturday"
"7","Sunday"
"9","Unknown"

In [2]:
import pandas as pd

In [50]:


pd.set_option('display.max_columns', None)
JAN= pd.read_csv('Jan2019.csv')
JAN

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,WEATHER_DELAY,Unnamed: 26
0,2019,1,1,3,4,2019-01-03,9E,3443,12478,JFK,"New York, NY",NY,New York,11193,CVG,"Cincinnati, OH",KY,Kentucky,1813.0,-2.0,2015.0,-22.0,0.0,99.0,589.0,NaN,NaN
1,2019,1,1,4,5,2019-01-04,9E,3443,12478,JFK,"New York, NY",NY,New York,11193,CVG,"Cincinnati, OH",KY,Kentucky,1831.0,16.0,2038.0,1.0,0.0,98.0,589.0,NaN,NaN
2,2019,1,1,5,6,2019-01-05,9E,3443,12478,JFK,"New York, NY",NY,New York,11193,CVG,"Cincinnati, OH",KY,Kentucky,1815.0,-5.0,2010.0,-32.0,0.0,93.0,589.0,NaN,NaN
3,2019,1,1,6,7,2019-01-06,9E,3443,12478,JFK,"New York, NY",NY,New York,11193,CVG,"Cincinnati, OH",KY,Kentucky,1817.0,-3.0,2042.0,-2.0,0.0,96.0,589.0,NaN,NaN
4,2019,1,1,7,1,2019-01-07,9E,3443,12478,JFK,"New York, NY",NY,New York,11193,CVG,"Cincinnati, OH",KY,Kentucky,1838.0,18.0,2100.0,16.0,0.0,101.0,589.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64808,2019,1,1,16,3,2019-01-16,EV,4382,14576,ROC,"Rochester, NY",NY,New York,13930,ORD,"Chicago, IL",IL,Illinois,1012.0,-8.0,1116.0,-13.0,0.0,99.0,528.0,NaN,NaN
64809,2019,1,1,30,3,2019-01-30,EV,4382,14576,ROC,"Rochester, NY",NY,New York,13930,ORD,"Chicago, IL",IL,Illinois,NaN,NaN,NaN,NaN,1.0,NaN,528.0,NaN,NaN
64810,2019,1,1,13,7,2019-01-13,EV,4391,13930,ORD,"Chicago, IL",IL,Illinois,15096,SYR,"Syracuse, NY",NY,New York,856.0,-4.0,1142.0,-7.0,0.0,81.0,607.0,NaN,NaN
64811,2019,1,1,20,7,2019-01-20,EV,4391,13930,ORD,"Chicago, IL",IL,Illinois,15096,SYR,"Syracuse, NY",NY,New York,NaN,NaN,NaN,NaN,1.0,NaN,607.0,NaN,NaN
64812,2019,1,1,27,7,2019-01-27,EV,4391,13930,ORD,"Chicago, IL",IL,Illinois,15096,SYR,"Syracuse, NY",NY,New York,943.0,43.0,1231.0,42.0,0.0,78.0,607.0,0.0,NaN

In [51]:
FEB= pd.read_csv('Feb2019.csv')
FEB

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,WEATHER_DELAY,Unnamed: 26
0,2019,1,2,1,5,2019-02-01,AA,1424,13204,MCO,"Orlando, FL",FL,Florida,12478,JFK,"New York, NY",NY,New York,933.0,-4.0,1148.0,-22.0,0.0,117.0,944.0,NaN,NaN
1,2019,1,2,2,6,2019-02-02,AA,1424,13204,MCO,"Orlando, FL",FL,Florida,12478,JFK,"New York, NY",NY,New York,648.0,25.0,937.0,37.0,0.0,129.0,944.0,0.0,NaN
2,2019,1,2,3,7,2019-02-03,AA,1424,13204,MCO,"Orlando, FL",FL,Florida,12478,JFK,"New York, NY",NY,New York,941.0,4.0,1212.0,2.0,0.0,123.0,944.0,NaN,NaN
3,2019,1,2,4,1,2019-02-04,AA,1424,13204,MCO,"Orlando, FL",FL,Florida,12478,JFK,"New York, NY",NY,New York,936.0,-1.0,1207.0,-3.0,0.0,127.0,944.0,NaN,NaN
4,2019,1,2,5,2,2019-02-05,AA,1424,13204,MCO,"Orlando, FL",FL,Florida,12478,JFK,"New York, NY",NY,New York,930.0,-7.0,1153.0,-17.0,0.0,124.0,944.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60297,2019,1,2,24,7,2019-02-24,ZW,4812,14576,ROC,"Rochester, NY",NY,New York,12264,IAD,"Washington, DC",VA,Virginia,642.0,27.0,747.0,12.0,0.0,49.0,288.0,NaN,NaN
60298,2019,1,2,24,7,2019-02-24,ZW,4807,14576,ROC,"Rochester, NY",NY,New York,12264,IAD,"Washington, DC",VA,Virginia,NaN,NaN,NaN,NaN,1.0,NaN,288.0,NaN,NaN
60299,2019,1,2,24,7,2019-02-24,ZW,4804,14576,ROC,"Rochester, NY",NY,New York,13930,ORD,"Chicago, IL",IL,Illinois,NaN,NaN,NaN,NaN,1.0,NaN,528.0,NaN,NaN
60300,2019,1,2,24,7,2019-02-24,ZW,4803,12264,IAD,"Washington, DC",VA,Virginia,14576,ROC,"Rochester, NY",NY,New York,NaN,NaN,NaN,NaN,1.0,NaN,288.0,NaN,NaN
60301,2019,1,2,24,7,2019-02-24,ZW,4802,14576,ROC,"Rochester, NY",NY,New York,13930,ORD,"Chicago, IL",IL,Illinois,542.0,-3.0,631.0,-27.0,0.0,90.0,528.0,NaN,NaN

In [52]:
MAR = pd.read_csv('March2019.csv')
MAR

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,WEATHER_DELAY,Unnamed: 26
0,2019,1,3,3,7,2019-03-03,9E,3281,10397,ATL,"Atlanta, GA",GA,Georgia,12197,HPN,"White Plains, NY",NY,New York,1706.0,42.0,1911.0,30.0,0.0,107.0,780.0,0.0,NaN
1,2019,1,3,4,1,2019-03-04,9E,3281,10397,ATL,"Atlanta, GA",GA,Georgia,12197,HPN,"White Plains, NY",NY,New York,1619.0,-5.0,1822.0,-19.0,0.0,105.0,780.0,NaN,NaN
2,2019,1,3,5,2,2019-03-05,9E,3281,10397,ATL,"Atlanta, GA",GA,Georgia,12197,HPN,"White Plains, NY",NY,New York,1621.0,-3.0,1859.0,18.0,0.0,139.0,780.0,0.0,NaN
3,2019,1,3,6,3,2019-03-06,9E,3281,10397,ATL,"Atlanta, GA",GA,Georgia,12197,HPN,"White Plains, NY",NY,New York,1619.0,-5.0,1839.0,-2.0,0.0,115.0,780.0,NaN,NaN
4,2019,1,3,7,4,2019-03-07,9E,3281,10397,ATL,"Atlanta, GA",GA,Georgia,12197,HPN,"White Plains, NY",NY,New York,1635.0,11.0,1848.0,7.0,0.0,110.0,780.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70276,2019,1,3,10,7,2019-03-10,OO,5528,13930,ORD,"Chicago, IL",IL,Illinois,10257,ALB,"Albany, NY",NY,New York,712.0,42.0,1005.0,30.0,0.0,87.0,723.0,0.0,NaN
70277,2019,1,3,10,7,2019-03-10,OO,5532,10257,ALB,"Albany, NY",NY,New York,13930,ORD,"Chicago, IL",IL,Illinois,1046.0,41.0,1300.0,77.0,0.0,138.0,723.0,0.0,NaN
70278,2019,1,3,10,7,2019-03-10,OO,5668,13930,ORD,"Chicago, IL",IL,Illinois,15096,SYR,"Syracuse, NY",NY,New York,1352.0,-8.0,1641.0,-13.0,0.0,88.0,607.0,NaN,NaN
70279,2019,1,3,10,7,2019-03-10,OO,5702,15096,SYR,"Syracuse, NY",NY,New York,13930,ORD,"Chicago, IL",IL,Illinois,1713.0,-17.0,1826.0,-22.0,0.0,109.0,607.0,NaN,NaN
70280,2019,1,3,10,7,2019-03-10,OO,5750,10792,BUF,"Buffalo, NY",NY,New York,13930,ORD,"Chicago, IL",IL,Illinois,1900.0,75.0,2015.0,85.0,0.0,96.0,473.0,0.0,NaN

In [53]:
ARP = pd.read_csv('April2019.csv')
ARP

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,WEATHER_DELAY,Unnamed: 26
0,2019,2,4,1,1,2019-04-01,NK,475,12953,LGA,"New York, NY",NY,New York,11433,DTW,"Detroit, MI",MI,Michigan,1053.0,67.0,1254.0,61.0,0.0,86.0,502.0,0.0,NaN
1,2019,2,4,2,2,2019-04-02,NK,475,12953,LGA,"New York, NY",NY,New York,11433,DTW,"Detroit, MI",MI,Michigan,944.0,-2.0,1146.0,-7.0,0.0,83.0,502.0,NaN,NaN
2,2019,2,4,3,3,2019-04-03,NK,475,12953,LGA,"New York, NY",NY,New York,11433,DTW,"Detroit, MI",MI,Michigan,939.0,-7.0,1206.0,13.0,0.0,89.0,502.0,NaN,NaN
3,2019,2,4,4,4,2019-04-04,NK,475,12953,LGA,"New York, NY",NY,New York,11433,DTW,"Detroit, MI",MI,Michigan,938.0,-8.0,1135.0,-18.0,0.0,93.0,502.0,NaN,NaN
4,2019,2,4,5,5,2019-04-05,NK,475,12953,LGA,"New York, NY",NY,New York,11433,DTW,"Detroit, MI",MI,Michigan,940.0,-6.0,1152.0,-1.0,0.0,84.0,502.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68077,2019,2,4,1,1,2019-04-01,OO,3753,12953,LGA,"New York, NY",NY,New York,15096,SYR,"Syracuse, NY",NY,New York,2255.0,64.0,8.0,67.0,0.0,43.0,198.0,0.0,NaN
68078,2019,2,4,1,1,2019-04-01,OO,3755,11995,GSO,"Greensboro/High Point, NC",NC,North Carolina,12953,LGA,"New York, NY",NY,New York,809.0,129.0,938.0,115.0,0.0,63.0,461.0,0.0,NaN
68079,2019,2,4,1,1,2019-04-01,OO,3760,13930,ORD,"Chicago, IL",IL,Illinois,12953,LGA,"New York, NY",NY,New York,1316.0,286.0,1615.0,277.0,0.0,90.0,733.0,0.0,NaN
68080,2019,2,4,1,1,2019-04-01,OO,3763,12953,LGA,"New York, NY",NY,New York,13930,ORD,"Chicago, IL",IL,Illinois,2320.0,185.0,46.0,159.0,0.0,118.0,733.0,0.0,NaN
68081,2019,2,4,1,1,2019-04-01,OO,3767,13930,ORD,"Chicago, IL",IL,Illinois,12953,LGA,"New York, NY",NY,New York,751.0,81.0,1209.0,149.0,0.0,95.0,733.0,0.0,NaN

In [54]:
MAY = pd.read_csv('May2019.csv')
MAY

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,WEATHER_DELAY,Unnamed: 26
0,2019,2,5,4,6,2019-05-04,YX,4702,14100,PHL,"Philadelphia, PA",PA,Pennsylvania,12953,LGA,"New York, NY",NY,New York,1209.0,6.0,1300.0,1.0,0.0,24.0,96.0,NaN,NaN
1,2019,2,5,5,7,2019-05-05,YX,4702,14100,PHL,"Philadelphia, PA",PA,Pennsylvania,12953,LGA,"New York, NY",NY,New York,1202.0,-1.0,1301.0,2.0,0.0,23.0,96.0,NaN,NaN
2,2019,2,5,11,6,2019-05-11,YX,4702,14100,PHL,"Philadelphia, PA",PA,Pennsylvania,12953,LGA,"New York, NY",NY,New York,1200.0,-3.0,1253.0,-6.0,0.0,21.0,96.0,NaN,NaN
3,2019,2,5,12,7,2019-05-12,YX,4702,14100,PHL,"Philadelphia, PA",PA,Pennsylvania,12953,LGA,"New York, NY",NY,New York,1206.0,3.0,1255.0,-4.0,0.0,20.0,96.0,NaN,NaN
4,2019,2,5,18,6,2019-05-18,YX,4702,14100,PHL,"Philadelphia, PA",PA,Pennsylvania,12953,LGA,"New York, NY",NY,New York,1200.0,-3.0,1243.0,-16.0,0.0,22.0,96.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70175,2019,2,5,27,1,2019-05-27,OH,5693,11267,DAY,"Dayton, OH",OH,Ohio,12953,LGA,"New York, NY",NY,New York,645.0,-15.0,826.0,-28.0,0.0,81.0,549.0,NaN,NaN
70176,2019,2,5,28,2,2019-05-28,OH,5693,11267,DAY,"Dayton, OH",OH,Ohio,12953,LGA,"New York, NY",NY,New York,724.0,24.0,932.0,38.0,0.0,89.0,549.0,0.0,NaN
70177,2019,2,5,29,3,2019-05-29,OH,5693,11267,DAY,"Dayton, OH",OH,Ohio,12953,LGA,"New York, NY",NY,New York,713.0,13.0,941.0,47.0,0.0,81.0,549.0,0.0,NaN
70178,2019,2,5,30,4,2019-05-30,OH,5693,11267,DAY,"Dayton, OH",OH,Ohio,12953,LGA,"New York, NY",NY,New York,653.0,-7.0,848.0,-6.0,0.0,89.0,549.0,NaN,NaN
70179,2019,2,5,31,5,2019-05-31,OH,5693,11267,DAY,"Dayton, OH",OH,Ohio,12953,LGA,"New York, NY",NY,New York,726.0,26.0,911.0,17.0,0.0,91.0,549.0,0.0,NaN

In [55]:
JUNE = pd.read_csv('June2019.csv')
JUNE

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,WEATHER_DELAY,Unnamed: 26
0,2019,2,6,8,6,2019-06-08,B6,461,12953,LGA,"New York, NY",NY,New York,14027,PBI,"West Palm Beach/Palm Beach, FL",FL,Florida,717.0,-13.0,955.0,-24.0,0.0,140.0,1035.0,NaN,NaN
1,2019,2,6,8,6,2019-06-08,B6,477,12478,JFK,"New York, NY",NY,New York,12451,JAX,"Jacksonville, FL",FL,Florida,1630.0,5.0,1927.0,14.0,0.0,123.0,828.0,NaN,NaN
2,2019,2,6,8,6,2019-06-08,B6,478,12451,JAX,"Jacksonville, FL",FL,Florida,12478,JFK,"New York, NY",NY,New York,2017.0,21.0,2236.0,12.0,0.0,107.0,828.0,NaN,NaN
3,2019,2,6,8,6,2019-06-08,B6,485,14576,ROC,"Rochester, NY",NY,New York,12478,JFK,"New York, NY",NY,New York,1518.0,50.0,1642.0,44.0,0.0,51.0,264.0,0.0,NaN
4,2019,2,6,8,6,2019-06-08,B6,486,12478,JFK,"New York, NY",NY,New York,14576,ROC,"Rochester, NY",NY,New York,209.0,199.0,311.0,178.0,0.0,45.0,264.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68431,2019,2,6,26,3,2019-06-26,AA,349,13930,ORD,"Chicago, IL",IL,Illinois,12953,LGA,"New York, NY",NY,New York,927.0,-3.0,1247.0,8.0,0.0,97.0,733.0,NaN,NaN
68432,2019,2,6,27,4,2019-06-27,AA,349,13930,ORD,"Chicago, IL",IL,Illinois,12953,LGA,"New York, NY",NY,New York,952.0,22.0,1254.0,15.0,0.0,98.0,733.0,0.0,NaN
68433,2019,2,6,28,5,2019-06-28,AA,349,13930,ORD,"Chicago, IL",IL,Illinois,12953,LGA,"New York, NY",NY,New York,924.0,-6.0,1222.0,-17.0,0.0,102.0,733.0,NaN,NaN
68434,2019,2,6,29,6,2019-06-29,AA,349,13930,ORD,"Chicago, IL",IL,Illinois,12953,LGA,"New York, NY",NY,New York,926.0,-4.0,1226.0,-13.0,0.0,95.0,733.0,NaN,NaN
68435,2019,2,6,30,7,2019-06-30,AA,349,13930,ORD,"Chicago, IL",IL,Illinois,12953,LGA,"New York, NY",NY,New York,NaN,NaN,NaN,NaN,1.0,NaN,733.0,NaN,NaN

In [56]:
JULY= pd.read_csv('July2019.csv')
JULY

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,WEATHER_DELAY,Unnamed: 26
0,2019,3,7,13,6,2019-07-13,NK,180,11697,FLL,"Fort Lauderdale, FL",FL,Florida,12953,LGA,"New York, NY",NY,New York,1128.0,-3.0,1421.0,-8.0,0.0,143.0,1076.0,NaN,NaN
1,2019,3,7,14,7,2019-07-14,NK,180,11697,FLL,"Fort Lauderdale, FL",FL,Florida,12953,LGA,"New York, NY",NY,New York,1124.0,-1.0,1412.0,-17.0,0.0,141.0,1076.0,NaN,NaN
2,2019,3,7,15,1,2019-07-15,NK,180,11697,FLL,"Fort Lauderdale, FL",FL,Florida,12953,LGA,"New York, NY",NY,New York,1131.0,6.0,1425.0,-4.0,0.0,148.0,1076.0,NaN,NaN
3,2019,3,7,16,2,2019-07-16,NK,180,11697,FLL,"Fort Lauderdale, FL",FL,Florida,12953,LGA,"New York, NY",NY,New York,1117.0,-8.0,1407.0,-22.0,0.0,149.0,1076.0,NaN,NaN
4,2019,3,7,17,3,2019-07-17,NK,180,11697,FLL,"Fort Lauderdale, FL",FL,Florida,12953,LGA,"New York, NY",NY,New York,1120.0,-5.0,1429.0,0.0,0.0,142.0,1076.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69922,2019,3,7,5,5,2019-07-05,ZW,4807,10792,BUF,"Buffalo, NY",NY,New York,12264,IAD,"Washington, DC",VA,Virginia,1443.0,-2.0,1546.0,-11.0,0.0,47.0,283.0,NaN,NaN
69923,2019,3,7,5,5,2019-07-05,G7,4582,13930,ORD,"Chicago, IL",IL,Illinois,15096,SYR,"Syracuse, NY",NY,New York,850.0,-5.0,1200.0,21.0,0.0,82.0,607.0,0.0,NaN
69924,2019,3,7,5,5,2019-07-05,G7,4546,15096,SYR,"Syracuse, NY",NY,New York,13930,ORD,"Chicago, IL",IL,Illinois,1226.0,11.0,1338.0,21.0,0.0,87.0,607.0,0.0,NaN
69925,2019,3,7,5,5,2019-07-05,ZW,3963,12264,IAD,"Washington, DC",VA,Virginia,12397,ITH,"Ithaca/Cortland, NY",NY,New York,1711.0,-9.0,1836.0,-2.0,0.0,42.0,250.0,NaN,NaN
69926,2019,3,7,5,5,2019-07-05,ZW,3945,15096,SYR,"Syracuse, NY",NY,New York,12264,IAD,"Washington, DC",VA,Virginia,NaN,NaN,NaN,NaN,1.0,NaN,296.0,NaN,NaN

In [57]:
AUG = pd.read_csv('August2019.csv')
AUG

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,WEATHER_DELAY,Unnamed: 26
0,2019,3,8,23,5,2019-08-23,WN,1147,12191,HOU,"Houston, TX",TX,Texas,12953,LGA,"New York, NY",NY,New York,625.0,0.0,1038.0,-12.0,0.0,174.0,1428.0,NaN,NaN
1,2019,3,8,23,5,2019-08-23,WN,1598,12191,HOU,"Houston, TX",TX,Texas,12953,LGA,"New York, NY",NY,New York,1200.0,10.0,1646.0,26.0,0.0,189.0,1428.0,0.0,NaN
2,2019,3,8,23,5,2019-08-23,WN,2268,12191,HOU,"Houston, TX",TX,Texas,12953,LGA,"New York, NY",NY,New York,1854.0,19.0,2303.0,-2.0,0.0,178.0,1428.0,NaN,NaN
3,2019,3,8,23,5,2019-08-23,WN,1125,12391,ISP,"Islip, NY",NY,New York,10821,BWI,"Baltimore, MD",MD,Maryland,612.0,-3.0,711.0,-14.0,0.0,50.0,220.0,NaN,NaN
4,2019,3,8,23,5,2019-08-23,WN,1394,12391,ISP,"Islip, NY",NY,New York,10821,BWI,"Baltimore, MD",MD,Maryland,1047.0,-3.0,1150.0,-15.0,0.0,51.0,220.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71323,2019,3,8,31,6,2019-08-31,AS,1024,14771,SFO,"San Francisco, CA",CA,California,12478,JFK,"New York, NY",NY,New York,1308.0,-2.0,2154.0,-6.0,0.0,293.0,2586.0,NaN,NaN
71324,2019,3,8,31,6,2019-08-31,AS,1059,12478,JFK,"New York, NY",NY,New York,14747,SEA,"Seattle, WA",WA,Washington,932.0,2.0,1244.0,-1.0,0.0,334.0,2422.0,NaN,NaN
71325,2019,3,8,31,6,2019-08-31,AS,1063,12478,JFK,"New York, NY",NY,New York,14747,SEA,"Seattle, WA",WA,Washington,1836.0,-9.0,2216.0,6.0,0.0,336.0,2422.0,NaN,NaN
71326,2019,3,8,31,6,2019-08-31,AS,1399,12478,JFK,"New York, NY",NY,New York,12892,LAX,"Los Angeles, CA",CA,California,735.0,-5.0,1036.0,-9.0,0.0,317.0,2475.0,NaN,NaN
71327,2019,3,8,31,6,2019-08-31,AS,1426,14747,SEA,"Seattle, WA",WA,Washington,12478,JFK,"New York, NY",NY,New York,1355.0,0.0,2224.0,4.0,0.0,275.0,2422.0,NaN,NaN

In [58]:
SEP = pd.read_csv('September2019.csv')
SEP

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,WEATHER_DELAY,Unnamed: 26
0,2019,3,9,22,7,2019-09-22,G4,898,14112,PIE,"St. Petersburg, FL",FL,Florida,12265,IAG,"Niagara Falls, NY",NY,New York,1608.0,-14.0,1849.0,-12.0,0.0,140.0,1069.0,NaN,NaN
1,2019,3,9,26,4,2019-09-26,G4,773,10693,BNA,"Nashville, TN",TN,Tennessee,15096,SYR,"Syracuse, NY",NY,New York,1334.0,-6.0,1627.0,-8.0,0.0,93.0,741.0,NaN,NaN
2,2019,3,9,2,1,2019-09-02,G4,2996,10257,ALB,"Albany, NY",NY,New York,13577,MYR,"Myrtle Beach, SC",SC,South Carolina,1126.0,0.0,1321.0,-4.0,0.0,99.0,685.0,NaN,NaN
3,2019,3,9,15,7,2019-09-15,G4,2360,15096,SYR,"Syracuse, NY",NY,New York,14761,SFB,"Sanford, FL",FL,Florida,1047.0,-7.0,1321.0,-16.0,0.0,140.0,1029.0,NaN,NaN
4,2019,3,9,22,7,2019-09-22,G4,2302,14761,SFB,"Sanford, FL",FL,Florida,10257,ALB,"Albany, NY",NY,New York,1359.0,-13.0,1641.0,-8.0,0.0,144.0,1049.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65365,2019,3,9,9,1,2019-09-09,UA,2140,13930,ORD,"Chicago, IL",IL,Illinois,12953,LGA,"New York, NY",NY,New York,556.0,-4.0,851.0,-18.0,0.0,92.0,733.0,NaN,NaN
65366,2019,3,9,9,1,2019-09-09,UA,2133,10257,ALB,"Albany, NY",NY,New York,13930,ORD,"Chicago, IL",IL,Illinois,729.0,-1.0,909.0,16.0,0.0,106.0,723.0,0.0,NaN
65367,2019,3,9,9,1,2019-09-09,UA,2098,12953,LGA,"New York, NY",NY,New York,12266,IAH,"Houston, TX",TX,Texas,751.0,-4.0,1028.0,-7.0,0.0,200.0,1416.0,NaN,NaN
65368,2019,3,9,9,1,2019-09-09,UA,2094,12266,IAH,"Houston, TX",TX,Texas,12953,LGA,"New York, NY",NY,New York,1635.0,-5.0,2140.0,25.0,0.0,193.0,1416.0,0.0,NaN
65369,2019,3,9,9,1,2019-09-09,UA,2078,12953,LGA,"New York, NY",NY,New York,12266,IAH,"Houston, TX",TX,Texas,1356.0,-3.0,1652.0,1.0,0.0,198.0,1416.0,NaN,NaN

In [59]:
OCT = pd.read_csv('October2019.csv')
OCT

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,WEATHER_DELAY,Unnamed: 26
0,2019,4,10,1,2,2019-10-01,OH,5432,12953,LGA,"New York, NY",NY,New York,11267,DAY,"Dayton, OH",OH,Ohio,1750.0,-9.0,1938.0,-23.0,0.0,83.0,549.0,NaN,NaN
1,2019,4,10,2,3,2019-10-02,OH,5432,12953,LGA,"New York, NY",NY,New York,11267,DAY,"Dayton, OH",OH,Ohio,1753.0,-6.0,1950.0,-11.0,0.0,86.0,549.0,NaN,NaN
2,2019,4,10,3,4,2019-10-03,OH,5432,12953,LGA,"New York, NY",NY,New York,11267,DAY,"Dayton, OH",OH,Ohio,2008.0,129.0,2206.0,125.0,0.0,90.0,549.0,0.0,NaN
3,2019,4,10,4,5,2019-10-04,OH,5432,12953,LGA,"New York, NY",NY,New York,11267,DAY,"Dayton, OH",OH,Ohio,2103.0,184.0,2258.0,177.0,0.0,86.0,549.0,0.0,NaN
4,2019,4,10,6,7,2019-10-06,OH,5432,12953,LGA,"New York, NY",NY,New York,11267,DAY,"Dayton, OH",OH,Ohio,1757.0,-2.0,1953.0,-8.0,0.0,85.0,549.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68118,2019,4,10,7,1,2019-10-07,WN,1520,13342,MKE,"Milwaukee, WI",WI,Wisconsin,12953,LGA,"New York, NY",NY,New York,1520.0,-5.0,1816.0,-19.0,0.0,99.0,738.0,NaN,NaN
68119,2019,4,10,7,1,2019-10-07,WN,2418,13342,MKE,"Milwaukee, WI",WI,Wisconsin,12953,LGA,"New York, NY",NY,New York,555.0,-5.0,901.0,-4.0,0.0,102.0,738.0,NaN,NaN
68120,2019,4,10,7,1,2019-10-07,WN,2339,13495,MSY,"New Orleans, LA",LA,Louisiana,12953,LGA,"New York, NY",NY,New York,1145.0,-5.0,1526.0,-24.0,0.0,148.0,1183.0,NaN,NaN
68121,2019,4,10,7,1,2019-10-07,WN,399,14027,PBI,"West Palm Beach/Palm Beach, FL",FL,Florida,12391,ISP,"Islip, NY",NY,New York,1159.0,-6.0,1422.0,-23.0,0.0,133.0,1052.0,NaN,NaN
68122,2019,4,10,7,1,2019-10-07,WN,401,14027,PBI,"West Palm Beach/Palm Beach, FL",FL,Florida,12391,ISP,"Islip, NY",NY,New York,805.0,-5.0,1043.0,-2.0,0.0,139.0,1052.0,NaN,NaN

In [60]:
NOV = pd.read_csv('November2019.csv')
NOV

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,WEATHER_DELAY,Unnamed: 26
0,2019,4,11,3,7,2019-11-03,WN,1257,15016,STL,"St. Louis, MO",MO,Missouri,12953,LGA,"New York, NY",NY,New York,1259.0,4.0,1605.0,-15.0,0.0,112.0,888.0,NaN,NaN
1,2019,4,11,3,7,2019-11-03,WN,6376,15016,STL,"St. Louis, MO",MO,Missouri,12953,LGA,"New York, NY",NY,New York,934.0,4.0,1240.0,-10.0,0.0,106.0,888.0,NaN,NaN
2,2019,4,11,3,7,2019-11-03,WN,6437,15016,STL,"St. Louis, MO",MO,Missouri,12953,LGA,"New York, NY",NY,New York,2009.0,-1.0,2312.0,-8.0,0.0,105.0,888.0,NaN,NaN
3,2019,4,11,3,7,2019-11-03,WN,3628,15304,TPA,"Tampa, FL",FL,Florida,10257,ALB,"Albany, NY",NY,New York,1021.0,-4.0,1252.0,-23.0,0.0,140.0,1130.0,NaN,NaN
4,2019,4,11,3,7,2019-11-03,WN,4137,15304,TPA,"Tampa, FL",FL,Florida,10792,BUF,"Buffalo, NY",NY,New York,1036.0,-4.0,1259.0,-16.0,0.0,135.0,1053.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64291,2019,4,11,15,5,2019-11-15,OO,3526,10693,BNA,"Nashville, TN",TN,Tennessee,12953,LGA,"New York, NY",NY,New York,1157.0,58.0,1527.0,69.0,0.0,115.0,764.0,0.0,NaN
64292,2019,4,11,15,5,2019-11-15,OO,3531,11433,DTW,"Detroit, MI",MI,Michigan,11537,ELM,"Elmira/Corning, NY",NY,New York,2051.0,0.0,2213.0,2.0,0.0,51.0,332.0,NaN,NaN
64293,2019,4,11,15,5,2019-11-15,OO,3550,11996,GSP,"Greer, SC",SC,South Carolina,12953,LGA,"New York, NY",NY,New York,623.0,0.0,815.0,-2.0,0.0,90.0,610.0,NaN,NaN
64294,2019,4,11,15,5,2019-11-15,OO,3551,11433,DTW,"Detroit, MI",MI,Michigan,11537,ELM,"Elmira/Corning, NY",NY,New York,1352.0,-1.0,1501.0,-1.0,0.0,51.0,332.0,NaN,NaN
64295,2019,4,11,15,5,2019-11-15,OO,3551,11537,ELM,"Elmira/Corning, NY",NY,New York,11433,DTW,"Detroit, MI",MI,Michigan,1537.0,-3.0,1657.0,-11.0,0.0,59.0,332.0,NaN,NaN

In [108]:
DEC = pd.read_csv('December2019.csv')
DEC

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,WEATHER_DELAY,Unnamed: 26
0,2019,4,12,8,7,2019-12-08,WN,3628,15304,TPA,"Tampa, FL",FL,Florida,10257,ALB,"Albany, NY",NY,New York,1022.0,-3.0,1304.0,-11.0,0.0,150.0,1130.0,NaN,NaN
1,2019,4,12,8,7,2019-12-08,WN,4137,15304,TPA,"Tampa, FL",FL,Florida,10792,BUF,"Buffalo, NY",NY,New York,1037.0,-3.0,1307.0,-8.0,0.0,136.0,1053.0,NaN,NaN
2,2019,4,12,8,7,2019-12-08,WN,1765,15304,TPA,"Tampa, FL",FL,Florida,12391,ISP,"Islip, NY",NY,New York,2055.0,10.0,2328.0,13.0,0.0,140.0,1034.0,NaN,NaN
3,2019,4,12,8,7,2019-12-08,WN,2989,15304,TPA,"Tampa, FL",FL,Florida,12391,ISP,"Islip, NY",NY,New York,917.0,-3.0,1147.0,-8.0,0.0,135.0,1034.0,NaN,NaN
4,2019,4,12,8,7,2019-12-08,WN,2676,15304,TPA,"Tampa, FL",FL,Florida,12953,LGA,"New York, NY",NY,New York,823.0,-2.0,1055.0,-5.0,0.0,136.0,1010.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65752,2019,4,12,31,2,2019-12-31,B6,839,12478,JFK,"New York, NY",NY,New York,10732,BQN,"Aguadilla, PR",PR,Puerto Rico,12.0,14.0,439.0,-3.0,0.0,184.0,1576.0,NaN,NaN
65753,2019,4,12,31,2,2019-12-31,B6,841,12478,JFK,"New York, NY",NY,New York,14685,SAV,"Savannah, GA",GA,Georgia,704.0,0.0,930.0,-2.0,0.0,120.0,718.0,NaN,NaN
65754,2019,4,12,31,2,2019-12-31,B6,842,14685,SAV,"Savannah, GA",GA,Georgia,12478,JFK,"New York, NY",NY,New York,1016.0,-1.0,1159.0,-13.0,0.0,82.0,718.0,NaN,NaN
65755,2019,4,12,31,2,2019-12-31,B6,845,10721,BOS,"Boston, MA",MA,Massachusetts,15096,SYR,"Syracuse, NY",NY,New York,2236.0,-23.0,2336.0,-40.0,0.0,47.0,265.0,NaN,NaN
65756,2019,4,12,31,2,2019-12-31,B6,846,13204,MCO,"Orlando, FL",FL,Florida,15070,SWF,"Newburgh/Poughkeepsie, NY",NY,New York,1500.0,64.0,1731.0,52.0,0.0,126.0,989.0,0.0,NaN

In [113]:
frames = [JAN, FEB, MAR, ARP, MAY, JUNE, JULY, AUG, SEP, OCT,NOV,DEC ]

year2019 = pd.concat(frames)

In [114]:
year2019

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,WEATHER_DELAY,Unnamed: 26
0,2019,1,1,3,4,2019-01-03,9E,3443,12478,JFK,"New York, NY",NY,New York,11193,CVG,"Cincinnati, OH",KY,Kentucky,1813.0,-2.0,2015.0,-22.0,0.0,99.0,589.0,NaN,NaN
1,2019,1,1,4,5,2019-01-04,9E,3443,12478,JFK,"New York, NY",NY,New York,11193,CVG,"Cincinnati, OH",KY,Kentucky,1831.0,16.0,2038.0,1.0,0.0,98.0,589.0,NaN,NaN
2,2019,1,1,5,6,2019-01-05,9E,3443,12478,JFK,"New York, NY",NY,New York,11193,CVG,"Cincinnati, OH",KY,Kentucky,1815.0,-5.0,2010.0,-32.0,0.0,93.0,589.0,NaN,NaN
3,2019,1,1,6,7,2019-01-06,9E,3443,12478,JFK,"New York, NY",NY,New York,11193,CVG,"Cincinnati, OH",KY,Kentucky,1817.0,-3.0,2042.0,-2.0,0.0,96.0,589.0,NaN,NaN
4,2019,1,1,7,1,2019-01-07,9E,3443,12478,JFK,"New York, NY",NY,New York,11193,CVG,"Cincinnati, OH",KY,Kentucky,1838.0,18.0,2100.0,16.0,0.0,101.0,589.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65752,2019,4,12,31,2,2019-12-31,B6,839,12478,JFK,"New York, NY",NY,New York,10732,BQN,"Aguadilla, PR",PR,Puerto Rico,12.0,14.0,439.0,-3.0,0.0,184.0,1576.0,NaN,NaN
65753,2019,4,12,31,2,2019-12-31,B6,841,12478,JFK,"New York, NY",NY,New York,14685,SAV,"Savannah, GA",GA,Georgia,704.0,0.0,930.0,-2.0,0.0,120.0,718.0,NaN,NaN
65754,2019,4,12,31,2,2019-12-31,B6,842,14685,SAV,"Savannah, GA",GA,Georgia,12478,JFK,"New York, NY",NY,New York,1016.0,-1.0,1159.0,-13.0,0.0,82.0,718.0,NaN,NaN
65755,2019,4,12,31,2,2019-12-31,B6,845,10721,BOS,"Boston, MA",MA,Massachusetts,15096,SYR,"Syracuse, NY",NY,New York,2236.0,-23.0,2336.0,-40.0,0.0,47.0,265.0,NaN,NaN
65756,2019,4,12,31,2,2019-12-31,B6,846,13204,MCO,"Orlando, FL",FL,Florida,15070,SWF,"Newburgh/Poughkeepsie, NY",NY,New York,1500.0,64.0,1731.0,52.0,0.0,126.0,989.0,0.0,NaN

In [115]:
def clean(df):
    df.drop(['Unnamed: 26'],axis=1, inplace= True)
    filter1 = df['ORIGIN_CITY_NAME'].isin(['New York, NY','Los Angeles, CA'])
    filter2 = df['DEST_CITY_NAME'].isin(['New York, NY','Los Angeles, CA'])
    return df[filter1 &filter2]

In [116]:
year = clean(year2019)
year

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,WEATHER_DELAY
8666,2019,1,1,10,4,2019-01-10,B6,523,12478,JFK,"New York, NY",NY,New York,12892,LAX,"Los Angeles, CA",CA,California,1208.0,-3.0,1529.0,-8.0,0.0,345.0,2475.0,NaN
8683,2019,1,1,10,4,2019-01-10,B6,624,12892,LAX,"Los Angeles, CA",CA,California,12478,JFK,"New York, NY",NY,New York,1401.0,-8.0,2216.0,-9.0,0.0,281.0,2475.0,NaN
8731,2019,1,1,30,3,2019-01-30,B6,1424,12892,LAX,"Los Angeles, CA",CA,California,12478,JFK,"New York, NY",NY,New York,2109.0,-6.0,528.0,-5.0,0.0,285.0,2475.0,NaN
8743,2019,1,1,30,3,2019-01-30,B6,1523,12478,JFK,"New York, NY",NY,New York,12892,LAX,"Los Angeles, CA",CA,California,1621.0,-11.0,2001.0,-4.0,0.0,332.0,2475.0,NaN
8749,2019,1,1,30,3,2019-01-30,B6,1623,12478,JFK,"New York, NY",NY,New York,12892,LAX,"Los Angeles, CA",CA,California,1948.0,4.0,2256.0,-21.0,0.0,335.0,2475.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65625,2019,4,12,31,2,2019-12-31,B6,124,12892,LAX,"Los Angeles, CA",CA,California,12478,JFK,"New York, NY",NY,New York,650.0,-10.0,1448.0,-31.0,0.0,281.0,2475.0,NaN
65644,2019,4,12,31,2,2019-12-31,B6,224,12892,LAX,"Los Angeles, CA",CA,California,12478,JFK,"New York, NY",NY,New York,800.0,-10.0,1609.0,-21.0,0.0,286.0,2475.0,NaN
65658,2019,4,12,31,2,2019-12-31,B6,324,12892,LAX,"Los Angeles, CA",CA,California,12478,JFK,"New York, NY",NY,New York,959.0,-9.0,1819.0,-11.0,0.0,295.0,2475.0,NaN
65673,2019,4,12,31,2,2019-12-31,B6,424,12892,LAX,"Los Angeles, CA",CA,California,12478,JFK,"New York, NY",NY,New York,1134.0,-9.0,1952.0,-14.0,0.0,294.0,2475.0,NaN
65711,2019,4,12,31,2,2019-12-31,B6,623,12478,JFK,"New York, NY",NY,New York,12892,LAX,"Los Angeles, CA",CA,California,1438.0,-2.0,1712.0,-58.0,0.0,308.0,2475.0,NaN

In [117]:
year.to_csv('year_2019.csv')