In [1]:
import pandas as pd
df= pd.read_csv('cleanedclass.csv')
df

,Unnamed: 0,Unnamed: 0.1,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,...,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,delayed,ontime,cancel,class
0,0,1501,1,1,24,4,2019-01-24,B6,1224,12892,...,2475.0,NaN,NaN,NaN,NaN,NaN,False,True,False,3.0
1,1,1517,1,1,24,4,2019-01-24,B6,1323,12478,...,2475.0,NaN,NaN,NaN,NaN,NaN,False,True,False,3.0
2,2,1527,1,1,24,4,2019-01-24,B6,1424,12892,...,2475.0,NaN,NaN,NaN,NaN,NaN,True,False,False,2.0
3,3,1539,1,1,24,4,2019-01-24,B6,1523,12478,...,2475.0,NaN,NaN,NaN,NaN,NaN,True,False,False,2.0
4,4,1545,1,1,24,4,2019-01-24,B6,1623,12478,...,2475.0,1.0,0.0,0.0,0.0,65.0,True,False,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35568,9902,26223,4,12,8,7,2019-12-08,UA,1871,11618,...,2454.0,NaN,NaN,NaN,NaN,NaN,True,False,False,2.0
35569,9903,26245,4,12,8,7,2019-12-08,UA,1702,11618,...,2454.0,0.0,0.0,15.0,0.0,0.0,False,True,False,3.0
35570,9904,26278,4,12,8,7,2019-12-08,UA,1460,11618,...,2454.0,NaN,NaN,NaN,NaN,NaN,True,False,False,2.0
35571,9905,26348,4,12,8,7,2019-12-08,UA,703,11618,...,2454.0,0.0,0.0,23.0,0.0,0.0,True,False,False,2.0
35572,9906,26357,4,12,8,7,2019-12-08,UA,642,12892,...,2454.0,NaN,NaN,NaN,NaN,NaN,True,False,False,2.0

In [2]:
LAX = df[df['ORIGIN_STATE_ABR'] == 'CA']
LAX

,Unnamed: 0,Unnamed: 0.1,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,...,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,delayed,ontime,cancel,class
0,0,1501,1,1,24,4,2019-01-24,B6,1224,12892,...,2475.0,NaN,NaN,NaN,NaN,NaN,False,True,False,3.0
2,2,1527,1,1,24,4,2019-01-24,B6,1424,12892,...,2475.0,NaN,NaN,NaN,NaN,NaN,True,False,False,2.0
7,7,1567,1,1,24,4,2019-01-24,B6,2024,12892,...,2475.0,36.0,0.0,2.0,0.0,0.0,True,False,False,2.0
9,9,1596,1,1,25,5,2019-01-25,B6,24,12892,...,2475.0,NaN,NaN,NaN,NaN,NaN,False,True,False,3.0
11,11,1622,1,1,25,5,2019-01-25,B6,124,12892,...,2475.0,NaN,NaN,NaN,NaN,NaN,False,True,False,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35562,9896,26147,4,12,8,7,2019-12-08,UA,2304,12892,...,2454.0,NaN,NaN,NaN,NaN,NaN,False,True,False,3.0
35564,9898,26191,4,12,8,7,2019-12-08,UA,2041,12892,...,2454.0,NaN,NaN,NaN,NaN,NaN,False,True,False,3.0
35566,9900,26208,4,12,8,7,2019-12-08,UA,1960,12892,...,2454.0,NaN,NaN,NaN,NaN,NaN,False,True,False,3.0
35567,9901,26221,4,12,8,7,2019-12-08,UA,1882,12892,...,2454.0,NaN,NaN,NaN,NaN,NaN,True,False,False,2.0
35572,9906,26357,4,12,8,7,2019-12-08,UA,642,12892,...,2454.0,NaN,NaN,NaN,NaN,NaN,True,False,False,2.0